.colors-grid {
  position: relative;
  display: grid;
  grid-gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 40%);
  grid-auto-rows: 4rem;
  width: 80%;
  margin-top: 1rem;
  height: 100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;

  @include md {
    grid-template-columns: repeat(auto-fit, 30%);
    grid-auto-rows: 8rem;
  }

  @include xl {
    display: grid;
    grid-gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 15%);
    grid-auto-rows: 10rem;
    width: 80%;
    margin-top: 1rem;
    height: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .single-color-tile {
    position: relative;
    border-radius: 0.3rem;
    height: 90%;
    width: 100%;
    box-shadow: 0 0 4px 1px #999;
    cursor: pointer;
    @include xl {
      position: relative;
      border-radius: 0.3rem;
      height: 90%;
      width: 100%;
      box-shadow: 0 0 4px 1px #999;
      cursor: pointer;
    }

    &:hover .remove-tile {
      display: flex;
    }

    .remove-tile {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-75%, -25%);
      height: 1rem;
      width: 1rem;
      background-color: #333;
      border-radius: 1rem;
      font-size: 0.6rem;
      color: white;
      font-family: sans-serif;
      cursor: pointer;

      @include xl {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-75%, -25%);
        height: 1.5rem;
        width: 1.5rem;
        background-color: #333;
        border-radius: 1rem;
        font-size: 0.9rem;
        color: white;
        font-family: sans-serif;
        cursor: pointer;
      }
    }
  }
  p {
    text-align: center;
    padding-top: 0.3rem;
    @include xl {
      text-align: center;
      padding-top: 0.3rem;
    }
  }

  .clipboard-copied {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 5%;
    width: 50%;
    font-size: 0.6rem;
    padding: 0.4rem;
    color: white;
    background-color: #999;
    @include flex(row, center, center);
    @include round-border;

    @include sm {
      width: 50%;
    }

    @include md {
      font-size: 0.9rem;
    }

    @include lg {
      font-size: 1rem;
    }

    @include xl {
      height: 5%;
      width: 20%;
      font-size: 1rem;
    }
  }
}
