//Helpers
@import './helpers/variables', './helpers/resets', './helpers/fonts';
//Components
@import './components/FilterColorsForm/index', './components/Header/index', './components/NewColorForm/index',
  './components/ColorsGrid/index';

body {
  background-color: #fff;
  width: 100%;
  height: 100vh;

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

// background-color: rgba(var(--color_rgb), 1)
