.header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 10%;
  background-color: $background-color;
  box-shadow: 0 0 5px 1px #999;
  z-index: 100;
  transition: min-height 0.3s;
  @include flex(row, space-between, start);

  .logo {
    width: 100%;
    height: 100%;
    @include flex(row, center, center);

    @include lg {
      width: 30%;
    }

    @include xl {
      width: 20%;
    }

    p {
      color: #730071;
      text-decoration: underline;
      font-family: 'Yellowtail', cursive;
      color: $logo;
      text-shadow: 1px 1px #73007166;
      font-size: 1.5rem;

      @include lg {
        font-size: 2rem;
        transform: translateY(-10%);
      }

      @include xl {
        font-size: 3rem;
      }
    }
  }
}
