form.new-color-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;

  div {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 60%;
    height: 40%;
    margin-right: 0.5rem;

    input[name='color'] {
      background-color: #fff;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 1rem;
      padding-left: 1rem;
      width: 100%;
    }
  }

  button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: #fff;

    &:hover {
      background-color: #eee;
      cursor: pointer;
      user-select: none;
    }
  }
}
